h1 {
    font-size: clamp(2rem, 4vw, 3rem) !important;
}
h2 {
    font-size: clamp(1.8rem, 3.6vw, 2.7rem) !important;
}
h3 {
    font-size: clamp(1.6rem, 3.2vw, 2.4rem) !important;
}
h4 {
    font-size: clamp(1.4rem, 2.8vw, 2.1rem) !important;
}
h5 {
    font-size: clamp(1.2rem, 2.4vw, 1.8rem) !important;
}

footer > div > a,
footer > div > div > button{

    white-space: nowrap;
    color: #999999 !important;
}

footer div a:hover, footer div a:active, footer div a:focus,
footer div button:hover, footer div button:active, footer div button:focus{
    color: #0d6efd !important;
}
footer div>* i {
    font-size: clamp(1.2rem, 2.4vw, 1.8rem) !important;
}


.card-header{
    font-size: clamp(1.2rem, 2.4vw, 1.8rem) !important;
}

.card-header.subheader {
    font-size: clamp(1rem, 2vw, 1.5rem) !important;
    background-color: inherit;
}
